<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>Boilerplate Gulp Setup</title>
	<meta name="description" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<link hreflang="en" rel="alternate" href="" />
	<link hreflang="de" rel="alternate" href="" />
	<link hreflang="x-default" rel="alternate" href="" />
	<link rel="canonical" href="" />
	<meta name="robots" content="index,follow,noydir">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-title" content="">
	<meta name="application-name" content="">
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<link rel="apple-touch-icon" sizes="180x180" href="/icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	{{> top}}
	{{> nav}}
	{{> advantages}}
	{{> body}}
	{{> footer}}

	<script src="js/main.js"></script>
</body>
</html>
