@import "fonts.scss";
@import "settings.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";
@import "general.scss";
@import "modules.scss";

body {
    @include breakpoint(mobile) {
        background: purple;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    }

    @include breakpoint(tablet) {
        background: brown;
    }

    @include breakpoint(desktop) {
        background: grey;
    }
}

.wrapper {
    .box {
        background-color: white;
        transform: translateX(0);
        width: 200px;
        @include transition(transform .4s ease, background-color .8s ease);

        &:hover {
            background-color: green;
            transform: translateX(20px);
        }
    }
}
