@import "fonts.less";
@import "settings.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";
@import "general.less";
@import "modules.less";

body {
  @media @mobile {
      background: yellow;
  }

  @media @tablet {
      background: green;
  }
}
