@import "fonts.css";
@import "header.css";
@import "footer.css";
@import "general.css";
@import "modules.css";

@media screen and (max-width: 479px) {
    body {
        background: black;
    }
}

@media screen and (min-width: 480px and max-width: 767px) {
    body {
        background: grey;
    }
}
